<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css" data-th-href="@{/styles/main.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/add-connection-page.css"
          data-th-href="@{/styles/add-connection-page.css}"/>
</head>
<body>
<header>
    <p>Pay My Buddy</p>
    <ul>
        <li><a href="/transfer">Transférer</a></li>
        <li><a href="">Profil</a></li>
        <li><a href="/add-connection" class="current-link">Ajouter relation</a></li>
        <li><a href="/logout">Se déconnecter</a></li>
    </ul>
</header>
<main>
    <form id="add-connection-form"  action="/user/add-connection" method="post">
        <label for="connection">Chercher une relation</label>
        <input id="connection" name="email" type="email" placeholder="Saisir une adresse mail">
    </form>
    <button type="submit" form="add-connection-form" class="btn-orange">Ajouter</button>
</main>
</body>
</html>