<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pay My Buddy</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css" data-th-href="@{/styles/main.css}"/>
</head>
<body>
<main>
    <form class="custom-form" name="authentication-form" th:action="@{/user/registration}" th:object="${registerFormDto}" method="post">
        <div class="title">
            <span>Pay My Buddy</span>
        </div>
        <div class="auth-fields">
            <input type="text" name="username" placeholder="Username" th:field="*{username}">
            <input type="email" name="email" placeholder="Mail" th:field="*{email}">
            <input type="password" name="password" placeholder="Mot de Passe" th:field="*{password}">
        </div>
        <button type="submit" class="btn-blue" value="S'inscrire">S'inscrire</button>
    </form>
</main>
</body>
</html>