<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css" data-th-href="@{/styles/main.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/transfer-page.css"
          data-th-href="@{/styles/transfer-page.css}"/>
</head>
<body>
<header>
    <p>Pay My Buddy</p>
    <ul>
        <li><a href="/transfer" class="current-link">Transférer</a></li>
        <li><a href="">Profil</a></li>
        <li><a href="/add-connection">Ajouter relation</a></li>
        <li><a href="">Se déconnecter</a></li>
    </ul>
</header>
<main>

</main>


</body>
</html>