main {
    display: block;
    height: calc(100vh - 164px);
    padding: 0 67px;
}

form {
    display: flex;
    justify-content: space-between;
}

.table-container{
    max-height: calc(100% - 295px);
}

.balance{
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    margin: 167px 0 16px 0
}

.tx-income {
    color: #187518;
}

.tx-outcome {
    color: #b52727;
}